.App {
  text-align: center;
  background-color: #305F72;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
nav {
  height: 100px;
  width: 100vw;
  color: #305F72;
  background-color: #F18C8E;
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 1em;
}
h3 {
  text-align: left;
  padding-left: 1em;
  padding-top: 1em;
  color: aliceblue;
}
.thumbnails {
  height: 300px;
  padding: 1em;
}
.container-lg {
  padding: 1em;
  border-radius: 1em;
  margin: 1em;
  background-color: #d88485;
}
.movie-info {
  text-align: left;
  justify-content: space-around;
  padding: 1em;
  color: #305F72;
}
.movie-info img {
  height: 200px;
}
.col-8 h4 {
  text-decoration: underline;
}
.review-form {
  margin: 1px solid black;
}
.reviews-container {
  background-color: #F18C8E;
  color: #3e7990;
  justify-content: space-around;
  padding: 1em;
}
